html,
body,
main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
main {
  padding-top: 8vh;
  color: #263f54;
}
main:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000;
  filter: blur(25px);
  z-index: -1;
}

section {
  margin-top: 60px;
  font-family: "Lato", "Arial", "Verdana", sans-serif;
}
.container__counter {
  background-color: rgba(255, 255, 255, 0.76);
  font-size: 1.5em;
  height: 180px;
  border-radius: 8px;
  color: #233750;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.icon {
  font-size: 2.8em;
  color: #263f54;
}
.counter {
  letter-spacing: 0.5px;
  font-weight: 900;
  font-size: 1.7em;
}
.category {
  font-weight: 500;
}
